@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #080909 !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    color: whitesmoke;
}

header {
    width: 100%;
    display: flex;
    list-style-type: none;
    top: 0 !important;
    align-items: center;
    z-index: 100;
    position:sticky;
    background-color: #f4e7e7;
    padding-bottom: 5px;
    justify-content: space-between;
    color: #080909;
}
.logoname{
    display: flex;
    align-items: center;
}

/*#navactive {
    color: #a04cc4 !important;
    font-style: bold;
    font-weight: 520;
    border: 2px solid #cbd20d !important;
}
*/

nav ul li {
    list-style: none;
    float: right;
    text-decoration: none;
    position: relative;
}

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    text-decoration: none;
    color: #ff8b73;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5%;
}

nav ul li a:hover {
    background: #cac9c9;
    color: #db2006 !important;
    border-radius: 3%;
    font-size: 22px;
}

footer{
    float: inline-end;
}


