<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALIZAR PEDIDO</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="../static/style.css" > -->
    <link rel="icon" href="../static/images/pizza-italiana.png" type="image/png">
    <link rel="stylesheet" href="../static/pedido.css">
</head>
<body>
   <header>
    <a href="#" class="logo">
        <img src="../static/images/icono.png" alt="imagen de pizza">
        <h2 class="name">Realizar Pedido</h2>
    </a>
    <nav>
        <a href="menu">Menú</a>
        <a href="pedido.html">Principal</a>
    </nav>
   </header>
   <section>
    <form action="" method="post">
        <h2>Haga su pedido!</h2>
        <div class="form_input">
            <label for="DNI">DNI</label>
            <input id="DNI" type="text" placeholder="DNI">
        </div>
        <div class="form_input">
            <label for="nombre">NOMBRE Y APELLIDO</label>
            <input id="nombre" type="text" placeholder="Nombre completo">
        </div>
        <div class="form_input">
            <label for="DIRECCION">DIRECCION</label>
            <input id="DIRECCION" type="text" placeholder="DIRECCION">
        </div>
        <div class="form_input">
            <label for="CELULAR">CELULAR</label>
            <input id="CELULAR" type="text" placeholder="CELULAR">
        </div>
        <div class="form_input">
            <label for="TIPO DE PIZZA">TIPO DE PIZZA</label>
            <input id="TIPO DE PIZZA" type="text" placeholder="TIPO DE PIZZA">
        </div>
        <div class="button-container">
            <button class="type-send"  type="submit">SEND</button>
            <button class="type-reset" type="reset">RESET</button>
        </div>
    </form>
   </section>
   <footer>
    <section>
        <a class="end-pag" href="#comienzo">Ir al comienzo</a>
        <a class="end-pag" href="">Developers</a>
    </section>
    <p>Copyright 2024</p>
</footer>
</body>
</html>