*{
    background-color: rgb(28, 25, 30);
    color: antiquewhite !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#name{
    color: rgb(127, 140, 32) !important;
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    float: none;
    margin-right: auto
}

div h2{
    text-align: center;
    background-color: rgba(5, 85, 50, 0.637);
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

#backmenu{
    background-image: url(../static/images/fondomenu.jpg);
    padding: 10px;
}
.card:hover{
    border-color: rgb(183, 255, 198);
    border-width: 3px;
}




