<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU ORÉGANO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" >
</head>
<body>
    <header>

        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" id="name">
                <img src="../static/images/pizza-pizza-transparent-pizza-ai-generated-free-png.webp" alt="Logo" height="80" class="d-inline-block align-text-top">
                PIZZERÍA ORÉGANO
            </a>
        </div>

        <nav class="navbar sticky-top bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="pedido.html">REALIZAR PEDIDO</a>
            </div>
            <div class="container-fluid">
                <a class="navbar-brand" href="menu.html">MENÚ</a>
            </div>
        </nav>
    </header>

    <div>
        <h2>MENÚ PARA ELEGIR</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="backmenu" >
        <div class="col" id="backmenu" >
            <div class="card">
                <img src="../static/images/pizza-muzarella.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MUZZARELLA</h5>
                    <p class="card-text">SALSA DE TOMATE, MUZZARELLA, ORÉGANO Y ACEITUNAS</p>
                    <p>$1500</p>
                </div>
            </div>
            </div>
        <div class="col" id="backmenu" >
            <div class="card">
                <img src="../static/images/pizza-napo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NAPOLITANA</h5>
                    <p class="card-text">SALSA DE TOMATE, JAMÓN, RODAJAS DE TOMATE, ORÉGANO Y ACEITUNAS</p>
                    <p>$2000</p>
                </div>
            </div>
        </div>
        <div class="col" id="backmenu" >
            <div class="card">
                <img src="../static/images/Pizza-Jamon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ESPECIAL</h5>
                    <p class="card-text">SALSA DE TOMATE, MUZZARELLA, JAMÓN, ORÉGANO Y ACEITUNAS</p>
                    <p>$3000</p>
                </div>
            </div>
        </div>
        <div class="col" id="backmenu" >
            <div class="card">
                <img src="../static/images/Fugazzeta.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FUGAZZETA</h5>
                    <p class="card-text">SALSA DE TOMATE, MUZARELLA, CEBOLLA, ORÉGANO Y ACEITUNAS NEGRAS</p>
                    <p>$2500</p>
                </div>
            </div>
        </div>
        <div class="col" id="backmenu" >
            <div class="card">
                <img src="../static/images/pizza-anana.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TROPICAL</h5>
                    <p class="card-text">SALSA DE TOMATE, MUZARELLA, ANANÁ Y AZÚCAR MORENO</p>
                    <p>$3500</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>