<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="images/png" href="../static/images/premio-de-futbol.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Rincón Futbolístico</title>
</head>
<body>
    <header class="header">
        <section class="logoname">
            <!-- logo -->
            <img class="images" src="../static/images/log.png" width="120px" height="120px" alt="logo">
            <h1 id="futgol">FUT-GOL</h1>
        </section>
        <nav class="nav">
        <ul>
            <li><a href="jugadores.html">Jugadores</a></li>
            <li><a href="estadios.html">Estadios</a></li>
            <li><a href="estadisticas.html">Estadísticas</a></li>
            <li><a href="iniciarsesion.html">Iniciar sesión</a></li>
        </ul>
    </nav>
    </header>
    
    <main class="main">
        <p> El lugar perfecto para los apasionados del fútbol. Estamos acá para compartir con vos todo lo relacionado con este hermoso deporte. Desde las últimas noticias, análisis de partidos, perfiles de jugadores y equipos, hasta debates sobre tácticas y estrategias.</p>
    </main>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>


    <footer>
        <p>FOOTER Todos los derechos reservados</p>
    </footer>

</body>
</html>